{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <a class="btn btn-dark btn-lg mt-3" href="{% url 'home' %}">Back</a>
    <div class="row">
        <div class="col-10 ml-auto mr-auto">
            <div class="card mt-2">
                <img src="{{photo.myfiles.url}}" class="card-img-top">
            </div>
            <div class="card-footer">
                <a class="btn btn-success mb-2" href="{% url 'rotateright' photo.id %}">Rotate Right</a>
                <a class="btn btn-success" href="{% url 'rotateleft' photo.id %}">Rotate Left</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}